<template lang="pug">
    .advantage-item
        .advantage-item__inner
            .advantage-item__icon
                slot(name="icon")

            p.advantage-item__title
                slot(name="title")

            p.advantage-item__text
                small: slot(name="text")
            p.advantage-item__btn
                v-btn(small block @click="$root.$emit('popup','formRequest')") Оставить заявку
</template>

<script>
import VBtn from '@/components/VBtn'

export default {
    components: { VBtn },
    props: {},
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.advantage-item {
    $el: '.advantage-item';

    @include notClass(p);

    @include trans;
    max-width: 305px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    //@include indent(p,r,md);

    padding: indent(md) indent(md);
    &__inner::before {
        margin-right: indent(md, -1);
    }

    @add-mixin point xs-sm {
        padding: indent(sm) indent(sm);
        &__inner::before {
            margin-right: indent(sm, -1);
        }
    }

    background-color: jscolor(light);

    //padding-left:indent(md);

    /*@add-mixin point xs-after {
            padding:0 2.9vw ;

        }*/

    height: 320px;

    &__inner {
        height: 100%;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;

        &::before {
            @add-mixin point xs-after {
                content: '';
            }
            @include abs-stretch;
            left: auto;

            border-right: 1px solid jscolor(border);
        }
    }

    &__title {
        @add-mixin h 5;
    }

    &__icon {
        @include trans;
        width: jspx(100);
        height: jspx(100);
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: jscolor(info);

        margin-bottom: indent(sm);
        flex-shrink: 0;
    }

    &__text {
        @include trans;
        small {
            display: block;
            color: jscolor(dark);
            margin: indent(sm) 0;
            max-width: 190px;
        }
    }

    &__text,
    &__btn {
        font-size: 0;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
    }
    @add-mixin point sm-after {
        &:hover {
            background-color: jscolor(info);

            #{$el}__icon {
                transform: scale(1, 0);
                height: 0;
            }
            #{$el}__text {
            }
            #{$el}__text,
            #{$el}__btn {
                font-size: inherit;
                opacity: 1;
                visibility: visible;

                transform: scale(1);
            }
        }
    }
}
</style>
