<template lang="pug">
    my-nuxt-link.banner-line-horizontal(:to="link" v-if="show" title="УСТАНОВКА СИГНАЛИЗАЦИИ PANDORA / ПАНДОРА")
</template>

<script>
export default {
    name:'BannerLineHorizontal',
    data() {
        return {link:{name: "catalog", params: {section: "pages", subsection: "pagesCatalog", category: "avtosighnalizatsii_pandora"}}}
    },
    computed:{
        show(){
            return this.$route.params?.category==='ustanovka_sighnalizatsii'
        }
    }
}
</script>

<style lang="scss">
    .banner-line-horizontal{
        &:after {
            content: url(~@/assets/img/page-catalog-footer.jpg);
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 0 1.5em;
        }
    }
</style>
