<template lang="pug">
    v-container
        v-bem(tag="ul").bread-crumbs
            li(v-for="(item,index) in itemListNoItemLast", :key="index")
                my-nuxt-link(:to="item.to" v-text="item.title" exact).bread-crumbs__link
            li()
                span.last(v-text="itemLast.title")
            

</template>

<script>
export default {
    name: 'BreadCrumbs',
 
    data() {
        return {}
    },
    computed:{
        itemList(){
            return this.$store.state.control.breadCrumbs.filter(item=>item?.title)
        },
        itemListNoItemLast(){
            let itemList = [...this.itemList];
            itemList.length = this.itemList.length - 1
            return itemList.filter(item=>{
                return  item?.title!=='Аксессуары'
            }) 
        },
        itemLast(){
         
            return this.itemList[this.itemList.length-1]
           
        }
    }
}
</script>

<style lang="scss">
.bread-crumbs {
    @include listClear;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    margin-top:indent(sm);
    margin-bottom:indent(sm);
    &__li {
        white-space:nowrap;
      /*  display:flex;
        align-items:center;*/
      
        &::after {
            content:'/';
            display:inline-block;
            margin:0 10px;
            
           
        }
        &:last-child::after{
            display:none;
        }
    }
    &__last {
        color:jscolor(dark);
    }
    
    &__link {
        display:flex;
        align-items:center;
    }
}
</style>
