<template lang="pug">
    v-bem(tag="ul").catalog-detail-utp-list
        li
            utp-icon(size="md")
                icon-ustanov
            .name Только #[br]  проверенные #[br] установщики
        li
            utp-icon(size="md")
                icon-garant
            .name Гарантия на все #[br] оборудование #[br] 3 года
        li
            utp-icon(size="md")
                icon-save
            .name Сохраняем #[br] гарантию #[br] вашего авто


</template>

<script>
import UtpIcon from '@/components/UtpIcon'

import IconSave from '@/assets/icons/utp/save.svg'
import IconGarant from '@/assets/icons/utp/garant.svg'
import IconUstanov from '@/assets/icons/utp/ustanov.svg'

export default {
    components: {
        UtpIcon,
        IconSave,
        IconUstanov,

        IconGarant
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.catalog-detail-utp-list {
    @include listClear;
    @include row-offset-a;

    display: flex;
    flex-wrap:wrap;

    justify-content: space-around;

    &__li {
        @include row-offset-a_col;
    }

    &__name {
        color: jscolor(dark);
        margin-top: 0.5em;
        margin-bottom: 0;
    }
}
</style>
