<template lang="pug">
    .contacts-info-item
        .contacts-info-item__icon
            slot(name="icon")
        .contacts-info-item__content
            .contacts-info-item-content__title
                slot(name="title")
            .contacts-info-item-content__text
                slot(name="text")
</template>

<script>
export default {
    name: 'ContactsInfoItem',
    components: {},
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.contacts-info-item {
   
    border: 1px solid jscolor(border);
    box-sizing: border-box;
    box-shadow: jsvar(box-shadow);
    border-radius: jsvar(border-radius);

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-column-gap: 39px;
    padding: indent(sm) 3.5vw;
    
}

.contacts-info-item-content {
    &__title {
        @add-mixin h 6;
       
        margin-bottom: 5px;
        text-transform:uppercase;

        color: jscolor(infodark);
    }
    &__text {
        @add-mixin h 4;
        margin-bottom:0;
        font-family: inherit;
        font-weight:bold;
        line-height:1.2;
    }
}
</style>
