<template lang="pug">
    div(class="loading-page" v-if="loading")
        .lds-dual-ring
</template>

<script>
    export default {
        data: () => ({
            loading: false
        }),
        methods: {
            start () {
                this.loading = true
            },
            finish () {
                this.loading = false
            }
        }
    }
</script>

<style lang="scss">
    .loading-page {
        position: fixed;
        z-index:9999;
        top: 0;
        left: 0;
        width: 100%;
       
        background: rgba(255, 255, 255, 1);
        text-align: center;
        height: 100vh;
        font-size: 30px;
        font-family: sans-serif;
        display:flex;
        align-items:center;
        justify-content:center;


        .lds-dual-ring {
            display: inline-block;
            width: 80px;
            height: 80px;
          
        }
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid jscolor(accent);
            border-color: jscolor(accent) transparent jscolor(accent) transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
</style>
