<template lang="pug">
    v-bem(:class="classRoot").message-item
        icon-enter(v-if="isAdmin")
        .inner
            p.header
                strong.name: slot(name="name")
                =' '
                small.date: slot(name="date")
            p.text: slot(name="text")

</template>

<script>
import IconEnter from '@/assets/icons/enter.svg'

export default {
    name: 'MessageItem',
    components: {
        IconEnter
    },
    props: {
        isAdmin: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {}
    },
    computed: {
        classRoot() {
            const list = []
            if (this.isAdmin) list.push(`${this.componentName}_is-admin`)
            return list.join(' ')
        }
    }
}
</script>

<style lang="scss">
.message-item {
    $el: '.message-item';

    display: flex;
    
    &__inner {
        width:100%;
    }

    &__header {
        margin: 0 0 jspx(5);
    }
    &__name {
        font-size: jsfs(h6);
        font-weight: bold;
        color: jscolor(dark);
        margin-right: indent(xs);
    }
    &__date {
        font-size: jsfs(small);
    }
    &__text {
        color: jscolor(dark);
        margin: 0;
    }

    &_is-admin {
        #{$el}__inner {
            @include box-info();
            padding: indent(xs);
        }
        #{$el}__name {
            color: jscolor(accent);
        }
    }

    &__icon-enter {
        flex: 1 0 auto;
        margin-right: jspx(10);
        margin-top: jspx(5);
    }
}
</style>
