<template lang="pug">
    a(:href="getLink"): slot    
</template>

<script>
export default {
    name: "my-nuxt-link",
    props:{
        to:{
            type:[Object,String],
            default:null
        }        
    },
    computed:{
        getLink(){
            if(this.to==='/' || this?.to?.name==='index') return '/'
            return this.$router.resolve(this.to).href+'/'
        },
    },
    
    data() {
        return {}
    },   
}
</script>
