<template lang="pug">
    nav.nav-main
        ul.nav-main__list
            li.nav-main__item(v-for="item in itemList", :key="item.id")
                //a.nav-main__link(:class="{active:item.active}", :href="getLink(item)" v-text="item.title" v-if="!item.isParent")
                my-nuxt-link.nav-main__link(:class="{active:item.active}", :to="getLink(item)" v-if="!item.isParent") {{item.title}}
                span.nav-main__link(v-text="item.title" v-else)
                ul.nav-main__sublist(v-if="item.itemList")
                    li.nav-main__subitem(v-for="itemSub in item.itemList", :key="itemSub.id")
                        //a.nav-main__sublink(:href="getLink(itemSub)" v-text="itemSub.title")
                        my-nuxt-link.nav-main__sublink(:to="getLink(itemSub)") {{itemSub.title}}
                       
</template>
<script>
export default {
    name: 'NavMain',
    methods:{
        getLink(item){
            item = this.$store.getters.categoriesRoute(item)
            return item
        }    
    },
    computed: {
        itemList() {
            if(!this.$store.getters['catalog']?.length) return []
            let subList = [...this.$store.getters['catalog']]
            subList = subList.filter(item=>!item.hide)
            let mainList = [...subList].slice(0,5)
            mainList.push({
                isParent:true,
                id:'Другие услуги',
                title:'Другие услуги',
                itemList:subList.splice(5)
            })
            return mainList
        }
    }
}
</script>

<style lang="scss">
.nav-main {
    @mixin link {
        display: inline-block;
        position: relative;
        &.active:before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            border-bottom: 4px solid jscolor(accent);
        }
        &.active {
            color: jscolor(accent);
        }
    }

    position: relative;
    @include fontFamilySecondary;
    @add-mixin point sm-after {
        font-size: jsfs(h5);
    }

    &__list {
        display: flex;
        flex-flow: wrap;
        @include listClear;
        @add-mixin point sm-after {
            justify-content: space-between;
        }
        @include row-offset;
    }

    &__item:hover &__sublist {
        opacity: 1;
        visibility: visible;
    }
    &__item {
        width: 50%;
        @include row-offset_col;
    }

    &__link {
        color: jscolor(dark);
        font-weight: bold;
        padding: jspx(12) 0;

        @include link;
    }

    &__sublist {
        background-color: jscolor(light);
        display: flex;



        flex-flow: wrap;
        @include trans;
        font-size: jsfs(main);
        @include listClear;
        @add-mixin point sm-after {
            z-index: 9;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            opacity: 0;
            visibility: hidden;
            height: 130px;
            text-align: center;
            align-items: center;
            justify-content: space-around;

            border-radius: jsvar(border-radius);
            box-shadow: jsvar(box-shadow);
        }

        padding-left: 1em;
        padding-right:1em;
    }

    &__subitem {
        width: 50%;
    }

    &__sublink {
        padding: jspx(10) jspx(20);

        font-size: jsfs(small);

        @add-mixin point sm-after {
            font-size: jsfs(h5);
        }
        @include link;
        &.active:before {
            margin-bottom: 2px;
        }
    }
}
</style>
