<template lang="pug">
    nav.nav-secondary
        ul.nav-secondary__list
            li.nav-secondary__item(v-for="(item,index) in itemList", :key="index")
                my-nuxt-link.nav-secondary__link(:to="{name:'catalog',params:{category:item.name}}") {{item.title}}
</template>

<script>
export default {
    name: 'NavSecondary',
    data() {
        return {
          
        }
    },
    computed:{
        itemList() {
            return this.$store.getters['pagesText']
        }
    }
}
</script>

<style lang="scss">
.nav-secondary {
    &__list {
        @include listClear;

        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__item {
    }

    &__link {
        //font-size:jsfs(small);
        display: block;
        padding: jspx(10) 0;
        white-space: nowrap;
    }
}
</style>
