<template lang="pug">
    section.section-advantages
        v-container
            .section-advantages__box
                div(v-swiper:mySwiper="swiperOption")

                    ul.swiper-wrapper.section-advantages__list
                        li.swiper-slide
                            .section-advantages__item

                                    .section-advantages__icon
                                        diagnostic
                                    .section-advantages__text
                                        |Бесплатная диагностика до и после установки оборудования
                        li.swiper-slide
                            .section-advantages__item

                                    .section-advantages__icon
                                        allauto
                                    .section-advantages__text
                                        |Работаем со всеми марками авто
                        li.swiper-slide
                            .section-advantages__item

                                    .section-advantages__icon
                                        garant
                                    .section-advantages__text
                                        |Гарантия до 3х лет на все виды оборудования
                        li.swiper-slide
                            .section-advantages__item

                                    .section-advantages__icon
                                        save
                                    .section-advantages__text
                                        |Сохраняем гарантию вашего авто


</template>

<script>
import SliderControl from '@/components/SliderControl.vue'
import Diagnostic from '@/assets/icons/advantages/diagnostic.svg'
import Allauto from '@/assets/icons/advantages/allauto.svg'
import Garant from '@/assets/icons/advantages/garant.svg'

import Save from '@/assets/icons/advantages/save.svg'

import { cssVars } from '@/modules/cssHelper.js'
import 'swiper/dist/css/swiper.css'
export default {
    components: {
        SliderControl,
        Diagnostic,
        Allauto,
        Garant,
        Save
    },
    data() {
        return {
            swiperOption: {
                /*    loop: true,
                slidesPerView: 'auto',
                centeredSlides: true,
                spaceBetween: 30, */
                slidesPerView: 'auto',
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true
                },
                navigation: {
                    nextEl: '.v-slider-next',
                    prevEl: '.v-slider-prev'
                }
                /* breakpoints: {
                    [cssVars['point-xs']]: {
                        slidesPerView: 1,
                    }
                },
*/
            }
        }
    }
}
</script>

<style lang="scss">
.section-advantages {
    &__list {
        @include listClear;
    }
    &__box {
        box-shadow: jsvar(box-shadow);
        border-radius: jsvar(border-radius);
        padding: indent(md) 0;
        background-color: jscolor(light);
    }
    .swiper-slide {
        height: auto;
        width: 100%;

        @add-mixin point xs-after {
            width: 25%;
        }
    }
    .swiper-slide:not(:last-child) &__item {
        @add-mixin point xs-after {
            border-right: 1px solid jscolor(border);
        }
    }
    &__item {
        max-width: 305px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        height: 100%;
        //@include indent(p,r,md);
        padding: 0 indent(md);

        //padding-left:indent(md);

        @add-mixin point xs-after {
            padding: 0 2.9vw;
        }
    }

    &__text {
        @add-mixin h 5;
    }
    &__icon {
        width: jspx(100);
        height: jspx(100);
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: jscolor(info);

        margin-bottom: indent(md);
    }
    &__diagnostics {
    }
}
</style>
