<template lang="pug">
    .phone-title
        .phone-title__icon-wrap
            .phone-title__icon
                slot(name="decor")
                icon-phone
        text-html.phone-title__content(light :html="content.promoTopPhone")
    
</template>

<script>
import TextHtml from '@/components/TextHtml'
import IconPhone from '@/assets/icons/phone.svg'

export default {
    name: 'PhoneTitle',
    components: {
        TextHtml,
        IconPhone
    },
    data() {
        return {
            html:`<div class="h1">ЗАКАЗЫВАЙТЕ ПО ТЕЛЕФОНУ, ЭКОНОМЬТЕ СВОЁ ВРЕМЯ!</div>
        <p>Наши консультанты оперативно помогут Вам с любым заказом<br>и сохранят Ваше время</p>`
        }
    },
    computed:{
        promoTopPhone(){
            return content.promoTopPhone 
        },
        content(){
            return this.$store.state.control.pageData.catalogDetail?.data || {}
        },
    }
    
}
</script>

<style lang="scss">
.phone-title {
    display: grid;
    grid-template-columns: 76px 1fr;
    grid-gap: jsvar(gap);

    &__icon-wrap {
        margin-top: 1.2em;

    }
    &__icon {
        position:relative;
        fill:jscolor(light);
    }

    &__content {
        position:relative;
        z-index:2;
    }
    h1,.h1 {margin-bottom:.2em}
}
</style>
