<template lang="pug">
    .phone-timetable()
        .phone-timetable__inner
            slot(name="decor")
            .phone-timetable__content
                text-html(light)
                    p: small Звоните ежедневно #[br] с 08:00 до 21:00
                phone-link(light font-size="inherit")
                p: v-btn() Заказать звонок
</template>

<script>
import PhoneLink from '@/components/PhoneLink'
import VBtn from '@/components/VBtn'
import TextHtml from '@/components/TextHtml'

export default {
    name: 'PhoneTimetable',
    components: {
        TextHtml,
        VBtn,
        PhoneLink
    },

    data() {
        return {}
    }
}
</script>

<style lang="scss">
.phone-timetable {
    &__inner {
        position:relative;
        display:inline-block;
    }
    .phone-link {
        color: jscolor(light);
        font-size: jsfs(h1);
        font-weight: normal;
    }
    &__content {
        position:relative;
        z-index:2;
    }
}
</style>
