<template lang="pug">

    section.section-map
            .section-map__inner
                client-only
                    yandex-map(v-bind="options" @click="mapClick").section-map__map
                        ymap-marker(
                            v-for='(marker,index) in itemList', :key='index',
                            :marker-id="index",
                            :coords="marker.coords",
                            dballoon-template="balloonTemplate",
                            doptions="{hasBalloon:false}",
                            :icon="marker.icon",
                            @click="markerClick($event,index)"
                        )
                .section-map__box
                    .section-map__header
                        .section-map__title Контактные данные
                        //slider-swiper-control(:class-prefix="section-map")
                        //slider-swiper(:prefix-class-swiper-control="section-map")
                    text-html(v-if="activeSlide==1")
                        p Невская улица, 33

                    text-html(v-if="activeSlide==0")
                        p г. Москва, ул. Беломорская, д.40 стр.2
                        p
                            a(href="tel:+74993977270") 7 (499) 397-72-70
                        
                    p.section-map__btn-wrap
                        v-btn(small block @click="$root.$emit('popup','formRequest')") Получить консультацию



</template>

<script>
import VBtn from '@/components/VBtn'
import TextHtml from '@/components/TextHtml'
import SliderSwiper from '@/components/SliderSwiper'
import SliderSwiperControl from '@/components/SliderSwiperControl'

export default {
    name: 'SectionMap',
    components: {
        SliderSwiperControl,
        SliderSwiper,
        TextHtml,
        VBtn
    },
    data() {
        return {
            activeSlide: 0,
            markerUser: {},
            markerList: [
                { coords: [55.865980, 37.482636], open: false },
             
            ],
            markerIcon: {
                layout: 'default#image',
                imageHref: '/img/marker.svg',
                imageSize: [51, 61],
                imageOffset: [0, 0]
            },

            mapOptions: {
                zoom: 16,

                coords: [55.865980, 37.482636],
                controls: [
                    'fullscreenControl',
                    'zoomControl',
                    'geolocationControl'
                ]
            }
        }
    },
    computed: {
        itemList() {
            return this.markerList.map((item) => {
                item.icon = this.markerIcon
                item.icon.imageHref = !item.open
                    ? '/img/marker.svg'
                    : '/img/markerHover.svg'
                return item
            })
        },
        balloonTemplate() {
            return `
        <h1 class="red">Hi, everyone!</h1>
        <p>I am here: ${this.coords}</p>
        <img src="http://via.placeholder.com/350x150">
      `
        },
        options() {
            return {
                settings: {
                    apiKey: 'cfcafd2e-277b-4e52-b351-645688d94838',
                    lang: 'ru_RU',
                    coordorder: 'latlong',
                    version: '2.1'
                },
                ...this.mapOptions
            }
        }
    },

    methods: {
        markerClick(event, index) {
            const icon = this.markerIcon

            icon.imageHref = '/img/markerHover.svg'

            const target = event.get('target')
            target.options.set('icon', icon)

            this.activeSlide = index
            this.$set(this.markerList[index], 'open', true)
        },
        mapClick(e) {
            /*    var location = ymaps.geolocation.get();

                // Асинхронная обработка ответа.
                location.then(
                    function(result) {
                        // Добавление местоположения на карту.
                        console.log(result.geoObjects.position)

                        this.markerList.push({
                            coords:result.geoObjects.position
                        })
                        console.log(this.markerList);
                    },
                    function(err) {
                        console.log('Ошибка: ' + err)
                    }) */
            const coords = e.get('coords')

            this.markerUser = {
                coords
            }

          
        }
    }
}
</script>

<style lang="scss">
.section-map {
    margin-top: indent(lg);
    &__inner {
        position: relative;
        border-radius: jsvar(border-radius);
        overflow: hidden;

        @add-mixin point xs-after {
            height: 640px;
            padding: indent(md);
        }
        @add-mixin point xs-only {
            padding: indent(xs);
            margin-left: jsvar(gap-sm-n);
            margin-right: jsvar(gap-sm-n);
        }
    }
    .slider-swiper {
        margin-bottom: indent(sm);
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box {
        @include box-info(light);
        max-width: 432px;
        position: relative;
        z-index: 1;
        overflow:hidden;

        @add-mixin point xs-only {
            margin-top: 94vw;
        }
    }
    &__title {
        @add-mixin h 5;
        padding-right: 1em;
    }
    &__map {
        @include abs-stretch;

        @add-mixin point xs-only {
            height: 70%;
            bottom: auto;
        }
    }
    &__btn-wrap {
        margin-bottom:0;
    }
}
</style>
