<template lang="pug">
    section.section-advantages
        v-container
            .section-advantages__box
                slider-swiper.section-advantages__slider(v-bind="swiperOptions")
                    advantage-item(v-for="item in itemList" ,:key="item.title")
                        template(v-slot:title) {{item.title}}
                        template(v-slot:text) {{item.text}}
                        template(v-slot:icon): component(:is="item.icon")
            slider-swiper-control(:classPrefix="swiperOptions.prefixClassSwiperControl")







</template>

<script>
import SliderSwiper from '@/components/SliderSwiper.vue'
import Diagnostic from '@/assets/icons/advantages/diagnostic.svg'

import Allauto from '@/assets/icons/advantages/allauto.svg'
import Garant from '@/assets/icons/advantages/garant.svg'

import Save from '@/assets/icons/advantages/save.svg'

import AdvantageItem from '@/components/AdvantageItem'
import SliderSwiperControl from '@/components/SliderSwiperControl'
export default {
    components: {
        SliderSwiperControl,
        AdvantageItem,
        SliderSwiper,
        Diagnostic,
        Allauto,
        Garant,
        Save
    },
    data() {
        return {
            itemList: [
                {
                    title:
                        'Бесплатная диагностика до и после установки оборудования',
                    text:
                        'Предоставим выгодные и быстрые условия при диагностики',
                    icon: 'Diagnostic'
                },
                {
                    title: 'Работаем со всеми марками авто',
                    icon: 'Allauto'
                },
                {
                    title: 'Гарантия до 3х лет на все виды оборудования',
                    icon: 'garant'
                },
                {
                    title: 'Сохраняем гарантию вашего авто',
                    icon: 'save'
                }
            ]
        }
    },
    computed: {
        swiperOptions() {
            return {
                prefixClassSwiperControl: this.componentName
            }
        }
    }
}
</script>

<style lang="scss">
.section-advantages {
    @add-mixin point xs-after {
        .slider-swiper-control {
            display: none;
        }
    }

    &__box {
        box-shadow: jsvar(box-shadow);
        border-radius: jsvar(border-radius);
        overflow: hidden;
        background-color: jscolor(light);
        position: relative;
        z-index: 1;
    }
    & &__slider {
        margin-left: -2px;
        margin-right: -2px;
    }
    .swiper-slide {
        height: auto;
        width: 100%;

        @add-mixin point xs-after {
            width: 25%;
        }

        .advantage-item {
        }
    }

    .swiper-slide:not(:last-child) .advantage-item {
        @add-mixin point xs-after {
        }
    }

    &__diagnostics {
    }
}
</style>
