<template lang="pug">
    section.section-catalog-seo-text(v-if="content")
        v-container
            section-catalog-seo-text-item(v-for="(item,index) in content", :key="index")
                span(v-html="item.svg" slot="icon")
                div(v-html="item.content")
          
</template>

<script>
import SectionCatalogSeoTextItem from '@/components/SectionCatalogSeoTextItem.vue'

export default {
    name: 'SectionCatalogSeoText',
    components: {
        SectionCatalogSeoTextItem
    },
    data() {
        return {
            icon1: `<svg width="41" height="42" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M31.883 12.1124C31.2106 11.4399 28.0533 11.258 25.2693 11.2314V10.5501C25.2671 8.66958 23.7432 7.14569 21.8627 7.14343H19.1373C17.2568 7.14569 15.7329 8.66958 15.7307 10.5501V11.2314C12.9467 11.2553 9.78944 11.4358 9.11696 12.1097C8.28846 12.9382 5.02351 20.2598 4.34763 20.967C2.00929 23.4157 0.741333 25.3582 0.741333 26.9021C0.741333 28.957 1.42267 30.4573 1.42267 32.3528V38.4848C1.42267 39.9899 2.64284 41.2101 4.148 41.2101H5.51067C7.01583 41.2101 8.236 39.9899 8.236 38.4848V37.3108C15.1699 38.8731 25.8035 38.8779 32.764 37.3108V38.4848C32.764 39.9899 33.9842 41.2101 35.4893 41.2101H36.852C38.3572 41.2101 39.5773 39.9899 39.5773 38.4848V32.3528C39.5773 30.4818 40.2587 28.9659 40.2587 26.9021C40.2587 25.3582 38.9914 23.415 36.6558 20.9745C35.9663 20.2489 32.7081 12.9348 31.883 12.1124ZM38.569 29.4912C38.1016 31.8234 38.2147 31.5229 38.2147 38.4848C38.2147 39.2373 37.6046 39.8474 36.852 39.8474H35.4893C34.7368 39.8474 34.1267 39.2373 34.1267 38.4848V36.4408C34.1265 36.2271 34.0262 36.026 33.8556 35.8973C33.6851 35.7687 33.4641 35.7275 33.2587 35.786C33.211 35.7989 28.4886 37.1221 20.5 37.1221C12.5325 37.1221 7.78836 35.7989 7.74135 35.7853C7.53579 35.7268 7.31467 35.768 7.14409 35.8968C6.97352 36.0256 6.87328 36.227 6.87333 36.4408V38.4848C6.87333 39.2373 6.26325 39.8474 5.51067 39.8474H4.148C3.39542 39.8474 2.78533 39.2373 2.78533 38.4848C2.78533 31.3383 2.87868 31.7266 2.43104 29.4912C2.23264 28.6418 2.12304 27.7741 2.104 26.9021C2.104 26.2439 2.52029 24.7218 5.31104 21.9331C6.10002 21.1441 9.46308 13.7633 10.0422 13.1078C10.5525 12.791 13.748 12.5941 16.412 12.5941C16.7883 12.5941 17.0933 12.2891 17.0933 11.9128V10.5501C17.0933 9.42123 18.0085 8.5061 19.1373 8.5061H21.8627C22.9915 8.5061 23.9067 9.42123 23.9067 10.5501V11.9128C23.9067 12.2891 24.2117 12.5941 24.588 12.5941C27.252 12.5941 30.4475 12.791 30.9162 13.071C31.5928 13.8103 34.8639 21.1067 35.689 21.9318C38.4797 24.7218 38.896 26.2439 38.896 26.9021C38.877 27.7741 38.7674 28.6418 38.569 29.4912Z" fill="white"/>
                    <path d="M29.7873 5.95937C30.0367 6.22436 30.4504 6.24653 30.7267 6.00972C31.0031 5.7729 31.0445 5.36073 30.8209 5.07364C28.2356 2.06439 24.4659 0.33313 20.4987 0.33313C16.5314 0.33313 12.7617 2.06439 10.1765 5.07364C9.95281 5.36073 9.99425 5.7729 10.2706 6.00972C10.5469 6.24653 10.9606 6.22436 11.21 5.95937C13.5362 3.25101 16.9285 1.69279 20.4987 1.69279C24.0688 1.69279 27.4612 3.25101 29.7873 5.95937Z" fill="white"/>
                    <path d="M12.5857 7.50457C12.4322 7.69358 12.3912 7.95012 12.4782 8.17753C12.5651 8.40495 12.7668 8.56871 13.0072 8.60712C13.2477 8.64552 13.4903 8.55274 13.6438 8.36373C15.321 6.29869 17.8397 5.0996 20.5 5.0996C23.1604 5.0996 25.6791 6.29869 27.3563 8.36373C27.5098 8.55274 27.7524 8.64552 27.9929 8.60712C28.2333 8.56871 28.435 8.40495 28.5219 8.17753C28.6089 7.95012 28.5679 7.69358 28.4144 7.50457C26.4783 5.1209 23.5709 3.73682 20.5 3.73682C17.4291 3.73682 14.5218 5.1209 12.5857 7.50457Z" fill="white"/>
                    <path d="M20.4999 13.9568C21.6288 13.9568 22.5439 13.0416 22.5439 11.9128C22.5439 10.7839 21.6288 9.86877 20.4999 9.86877C19.3711 9.86877 18.4559 10.7839 18.4559 11.9128C18.4559 13.0416 19.3711 13.9568 20.4999 13.9568ZM20.4999 11.2314C20.8762 11.2314 21.1813 11.5365 21.1813 11.9128C21.1813 12.2891 20.8762 12.5941 20.4999 12.5941C20.1236 12.5941 19.8186 12.2891 19.8186 11.9128C19.8186 11.5365 20.1236 11.2314 20.4999 11.2314Z" fill="white"/>
                    <path d="M10.654 25.5347C8.83769 25.5064 7.02703 25.3241 5.24152 24.9896C4.57075 24.8487 3.89972 25.228 3.67446 25.8753C3.29765 26.8568 3.42355 27.9603 4.01172 28.8316C5.26196 30.6031 8.43562 30.9901 10.6084 30.9901C11.1278 30.9913 11.603 30.698 11.8348 30.2331C12.486 28.9918 12.486 27.5098 11.8348 26.2685C11.6022 25.829 11.1511 25.5486 10.654 25.5347ZM10.6084 29.6227C7.79584 29.5784 4.02262 28.9659 4.96967 26.3243C6.84193 26.6533 8.73505 26.8498 10.635 26.9123C11.0826 27.7644 11.0727 28.7843 10.6084 29.6274V29.6227Z" fill="white"/>
                    <path d="M30.346 25.5347C29.8499 25.5484 29.3994 25.8272 29.1659 26.2651C28.5147 27.5064 28.5147 28.9884 29.1659 30.2298C29.4019 30.7008 29.8859 30.9959 30.4127 30.9901C33.8037 30.9363 36.016 30.2114 36.9883 28.8344C37.5767 27.9626 37.7021 26.8583 37.3242 25.8767C37.1004 25.2281 36.4282 24.8482 35.7571 24.991C33.9714 25.3203 32.1615 25.5021 30.346 25.5347ZM36.0344 26.3094C36.944 28.9986 33.2171 29.5798 30.3909 29.6295C29.9373 28.776 29.9333 27.7538 30.38 26.8967C32.2782 26.8644 34.1701 26.6679 36.0344 26.3094Z" fill="white"/>
                    <path d="M20.5 15.3196C15.9845 15.3196 12.324 18.9801 12.324 23.4956C12.324 28.0111 15.9845 31.6716 20.5 31.6716C25.0155 31.6716 28.676 28.0111 28.676 23.4956C28.6711 18.9821 25.0134 15.3245 20.5 15.3196ZM20.5 30.3089C16.7371 30.3089 13.6866 27.2585 13.6866 23.4956C13.6866 19.7327 16.7371 16.6822 20.5 16.6822C24.2629 16.6822 27.3133 19.7327 27.3133 23.4956C27.3092 27.2568 24.2612 30.3048 20.5 30.3089Z" fill="white"/>
                    <path d="M25.9507 22.8142H23.9067C23.6923 22.8142 23.4903 22.9151 23.3616 23.0867L21.9792 24.9263L19.7506 20.4656C19.6455 20.2527 19.4372 20.1098 19.2007 20.0886C18.9642 20.0673 18.7337 20.1706 18.5923 20.3614L16.7527 22.8142H15.0494C14.6731 22.8142 14.368 23.1192 14.368 23.4955C14.368 23.8718 14.6731 24.1768 15.0494 24.1768H17.0934C17.3078 24.1768 17.5098 24.0759 17.6384 23.9043L19.0209 22.0647L21.2529 26.5288C21.3591 26.7397 21.567 26.8807 21.8022 26.9012C22.0375 26.9217 22.2666 26.819 22.4078 26.6296L24.2474 24.1768H25.9507C26.327 24.1768 26.632 23.8718 26.632 23.4955C26.632 23.1192 26.327 22.8142 25.9507 22.8142Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect x="0.0600586" y="0.3302" width="40.88" height="40.88" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    `,
            icon2:
                '<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<path d="M39.1304 38.2609H36.5217V36.5217V25.3478C38.8504 24.487 40 22.7383 40 20C40 17.9017 39.3374 15.9165 38.0704 14.2391L31.3043 5.78174V0.869565C31.3043 0.389565 30.9157 0 30.4348 0C29.9539 0 29.5652 0.389565 29.5652 0.869565V5.78174L27.3061 8.60956L25.027 5.76C25.0261 5.75913 25.0261 5.75826 25.0252 5.75739C25.0243 5.75652 25.0235 5.75652 25.0226 5.75565L20.68 0.326957C20.5139 0.12 20.2643 0 20 0C20 0 20 0 19.9991 0C19.7348 0 19.4852 0.12087 19.3209 0.326957L14.9974 5.74348C14.9913 5.75043 14.9835 5.75304 14.9774 5.76C14.9713 5.76696 14.9704 5.77565 14.9652 5.78348L12.7026 8.61826L10.4348 5.78174V0.869565C10.4348 0.389565 10.0461 0 9.56522 0C9.08435 0 8.69565 0.389565 8.69565 0.869565V5.78261L2.02783 14.1357C1.98696 14.1722 1.9487 14.2139 1.91478 14.2583C0.662609 15.9165 0 17.9017 0 20C0 22.6983 1.17826 24.487 3.47043 25.3461L3.47826 36.5217V38.2609H0.869565C0.388696 38.2609 0 38.6504 0 39.1304C0 39.6104 0.388696 40 0.869565 40H13.0435H26.9565H39.1304C39.6113 40 40 39.6104 40 39.1304C40 38.6504 39.6113 38.2609 39.1304 38.2609ZM20.0009 2.26261L23.0783 6.10957C22.1496 6.65913 21.1035 6.95652 20 6.95652C18.8991 6.95652 17.8548 6.66087 16.927 6.11391L20.0009 2.26261ZM1.73913 20C1.73913 18.3296 2.2513 16.7487 3.22 15.4174C3.24696 15.3913 3.27304 15.3635 3.29652 15.3339L9.56609 7.48L11.6609 10.1009C11.6583 10.1052 11.6565 10.1104 11.6539 10.1157C11.473 10.4348 11.3165 10.7661 11.1757 11.1026C11.1539 11.1548 11.1304 11.207 11.1096 11.2591C10.9791 11.5861 10.8687 11.9209 10.7765 12.2617C10.7591 12.3243 10.7435 12.387 10.7278 12.4496C10.6417 12.7939 10.5722 13.1426 10.5243 13.4965C10.5174 13.5478 10.5139 13.5991 10.5078 13.6504C10.4626 14.0243 10.4348 14.4017 10.4348 14.7826C10.4348 15.0322 10.4461 15.273 10.4652 15.507C10.4722 15.5852 10.4852 15.6583 10.4939 15.7348C10.5113 15.887 10.5287 16.04 10.5548 16.1852C10.5704 16.2739 10.593 16.3583 10.6122 16.4443C10.64 16.5704 10.6678 16.6965 10.7026 16.8165C10.7287 16.9052 10.76 16.9904 10.7896 17.0757C10.8278 17.1861 10.8652 17.2957 10.9096 17.4009C10.9452 17.4861 10.9852 17.567 11.0252 17.6487C11.073 17.747 11.1217 17.8452 11.1748 17.9383C11.22 18.0174 11.2687 18.093 11.3174 18.1687C11.3757 18.2583 11.4357 18.3461 11.4991 18.4304C11.553 18.5017 11.6087 18.5704 11.667 18.6383C11.7365 18.72 11.8087 18.7983 11.8835 18.8748C11.9452 18.9374 12.0087 19 12.0748 19.0591C12.1087 19.0896 12.1383 19.1243 12.173 19.1548V24.273C12.1617 24.2739 12.1504 24.2757 12.1383 24.2765C11.7461 24.3035 11.3478 24.3191 10.953 24.3296C10.8565 24.3322 10.7609 24.3339 10.6652 24.3365C10.2904 24.3435 9.91565 24.3478 9.56522 24.3478C9.11043 24.3478 8.65217 24.3435 8.19826 24.3313C6.88435 24.2965 5.60783 24.1904 4.5713 23.8922C2.58609 23.3426 1.73913 22.1783 1.73913 20ZM5.20957 25.8183C5.22435 25.8209 5.24087 25.8217 5.25565 25.8243C5.30696 25.833 5.36348 25.8383 5.41652 25.8461C5.74348 25.8974 6.08348 25.9391 6.43565 25.9713C6.56348 25.9826 6.69652 25.993 6.82783 26.0017C7.13217 26.0235 7.44783 26.0417 7.77304 26.053C7.90261 26.0583 8.03217 26.0643 8.16522 26.0678C8.61304 26.08 9.07565 26.087 9.56522 26.087C9.91478 26.087 10.2843 26.0835 10.6609 26.0765C10.7652 26.0748 10.867 26.0722 10.9722 26.0696C11.3357 26.06 11.7009 26.0461 12.0678 26.0235C12.1035 26.0209 12.1383 26.0217 12.173 26.0191V32.6365C11.2504 31.8087 10.0304 31.3043 8.69565 31.3043C7.35913 31.3043 6.13913 31.8096 5.21478 32.6383L5.20957 25.8183ZM12.1739 38.2609H5.21739V36.5217C5.21739 34.6035 6.77739 33.0435 8.69565 33.0435C10.6139 33.0435 12.1739 34.6035 12.1739 36.5217V38.2609ZM26.087 36.5217V38.2609H13.913V36.5217V33.913C13.913 30.5565 16.6443 27.8261 20 27.8261C23.3557 27.8261 26.087 30.5565 26.087 33.913V36.5217ZM26.087 25.0704V29.0061C24.6513 27.2278 22.4574 26.087 20 26.087C17.5426 26.087 15.3487 27.2278 13.913 29.0052V25.0696V20.1452C15.6609 20.7948 17.8548 20.8696 20 20.8696C22.1452 20.8696 24.3383 20.7948 26.087 20.1452V25.0704ZM26.4548 18.0287C25.007 19.0452 22.3643 19.1304 20 19.1304C17.6765 19.1304 15.0835 19.0478 13.6209 18.08C13.5965 18.0583 13.5687 18.0365 13.5409 18.0174C12.6087 17.3661 12.1739 16.3383 12.1739 14.7826C12.1739 13.247 12.6139 11.7722 13.473 10.4713C13.5278 10.3783 13.5887 10.2887 13.6513 10.2026C13.68 10.1765 13.707 10.147 13.7313 10.1165L15.8313 7.48609C17.0739 8.26696 18.5226 8.69565 20 8.69565C21.48 8.69565 22.9322 8.26522 24.1757 7.48087L26.2652 10.093C26.3652 10.2235 26.4574 10.3617 26.553 10.5061C27.3861 11.7635 27.8261 13.2426 27.8261 14.7826C27.8261 16.3365 27.3904 17.3678 26.4548 18.0287ZM27.8261 26.0191C27.8617 26.0217 27.8965 26.0217 27.9322 26.0235C28.2991 26.0461 28.6643 26.06 29.0278 26.0696C29.1339 26.0722 29.2348 26.0748 29.3391 26.0765C29.7157 26.0835 30.0852 26.087 30.4348 26.087C30.8557 26.087 31.28 26.0817 31.7035 26.0722C31.8339 26.0696 31.9617 26.0635 32.0922 26.0583C32.4 26.0478 32.7052 26.0322 33.0087 26.0122C33.1548 26.0026 33.2983 25.9922 33.4417 25.9791C33.7574 25.9522 34.0661 25.9148 34.3696 25.8713C34.4757 25.8565 34.5843 25.8452 34.6887 25.8287C34.7191 25.8235 34.7522 25.8217 34.7817 25.8165V32.6365C33.8591 31.8087 32.6391 31.3043 31.3043 31.3043C29.9696 31.3043 28.7496 31.8087 27.8261 32.6365V26.0191ZM34.7826 38.2609H27.8261V36.5217C27.8261 34.6035 29.3861 33.0435 31.3043 33.0435C33.2226 33.0435 34.7826 34.6035 34.7826 36.5217V38.2609ZM30.4348 24.3478C30.0843 24.3478 29.7096 24.3435 29.3339 24.3365C29.2383 24.3348 29.1426 24.3322 29.0461 24.3296C28.6513 24.3191 28.2522 24.3035 27.8609 24.2765C27.8496 24.2757 27.8383 24.2739 27.8261 24.273V19.1617C27.8487 19.1426 27.8678 19.12 27.8904 19.1C27.9557 19.0426 28.0148 18.9817 28.0765 18.9209C28.1583 18.84 28.2383 18.7591 28.313 18.673C28.3696 18.6087 28.4226 18.5409 28.4748 18.4739C28.5443 18.3843 28.6104 18.293 28.673 18.1991C28.72 18.1278 28.7661 18.0548 28.8096 17.9809C28.8678 17.8817 28.9209 17.78 28.9722 17.6757C29.0104 17.5983 29.0478 17.52 29.0817 17.44C29.1287 17.3296 29.1704 17.2148 29.2104 17.0991C29.2391 17.0165 29.2687 16.9357 29.293 16.8504C29.3296 16.7261 29.3591 16.5948 29.3878 16.4643C29.4061 16.38 29.4278 16.2983 29.4435 16.2113C29.4704 16.0626 29.4887 15.9061 29.5061 15.7496C29.5148 15.673 29.5278 15.6 29.5339 15.5217C29.5539 15.2843 29.5652 15.0383 29.5652 14.7826C29.5652 14.4017 29.5374 14.0243 29.493 13.6504C29.487 13.5983 29.4835 13.5461 29.4765 13.4939C29.4296 13.1417 29.36 12.7948 29.2748 12.453C29.2583 12.3852 29.2409 12.3183 29.2226 12.2513C29.1313 11.9174 29.0235 11.5887 28.8965 11.267C28.8713 11.2035 28.8435 11.1417 28.8165 11.0791C28.6783 10.7522 28.5278 10.4304 28.353 10.1191C28.3496 10.1122 28.347 10.1043 28.3426 10.0983L30.4348 7.47913L36.6974 15.307C37.72 16.6609 38.2609 18.2835 38.2609 20C38.2609 22.1791 37.4113 23.3435 35.4122 23.8948C34.0261 24.293 32.2009 24.3478 30.4348 24.3478Z" fill="white"/>\n' +
                '</svg>\n'
        }
    },
    computed:{
        content(){
            return this.$store.state.control.pageData.catalog?.data?.catalogSEOTextList;
         
        },
       
    }
}
</script>

<style lang="scss">
.section-catalog-seo-text {
    padding: indent(lg) 0;
    background: jsvar(linear-gradient);
  

    color: jscolor(dark);
    p {
        font-size: 20px;
    }

    .section-catalog-seo-text-item + .section-catalog-seo-text-item {
        margin-top: 2.5em;
    }

    .v-container {
        max-width: 1011px;
    }
}
</style>
