<template lang="pug">

        v-bem.section-catalog-seo-text-item
            .icon
                 slot(name="icon")
            text-html.text
                slot()


</template>

<script>
import TextHtml from '@/components/TextHtml'

export default {
    components: { TextHtml },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.section-catalog-seo-text-item {
    display: grid;

    grid-template: 'icon text' auto;

    grid-column-gap: 52px;
    justify-content: flex-start;

    @add-mixin point xs-only {
        grid-template:
            'icon' auto
            'text' auto;
    }

    &__icon {
        grid: icon;
        display: flex;
        align-items: center;
        justify-content: center;
        

        &::before {
            @include decor-circle;
            @include abs-stretch;
        }

        position: relative;
        z-index:1;
        width: 70px;
        height: 70px;
    }

    &__text {
        grid: text;
    }
}
</style>
