<template lang="pug">
    section.section-reviews
        v-container.section-reviews__v-container

            .section-reviews__text
                .section-reviews__text-wrap
                    reviews-stats
                    text-html
                        p  Установочный центр Alarm ST предлагает нестандартные и авторские решения по защите от угона автомобиля. Опыт и навыки работы со всеми марками автомобилей дает нам знания о том, как защитить именно ваш автомобиль. Мы знаем слабые места в штатной системе защиты каждой марки и модели автомобиля и как следствие знаем, как их защитить.
            .section-reviews__box
                reviews-box
</template>

<script>
import ReviewsBox from '@/components/ReviewsBox'
import ReviewsStats from '@/components/ReviewsStats'
import TextHtml from '@/components/TextHtml'

export default {
    name: 'SectionReviews',
    components: {
        TextHtml,
        ReviewsStats,
        ReviewsBox
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.section-reviews {
  

    @add-mixin point xs-after {
        margin:indent(xlg) 0;
    }
    &__v-container {
        @add-mixin point xs-after {
            display: grid;
            grid-template: 'box text' auto/57% calc(43% - 30px);
            column-gap: jsvar(gap);
        }
    }

    &__box {
        grid-area: box;

        @add-mixin point xs-only {
            margin-top: jspx(100);
        }
    }
    &__text {
        grid-area: text;
    }
    &__text-wrap {
        margin-left: auto;
        max-width: 387px;
    }
}
</style>
