<template lang="pug">
    section.section-form-request
        v-container
            form.section-form-request__form(@submit.prevent="submit")
                .section-form-request__fieldset(v-if="!isSend")
                    .section-form-request__legend
                        legend Оставьте заявку и получите подробную информацию об акциях!
                    .section-form-request__v-field
                        v-field(
                            placeholder="Введите свой телефон"
                            name="phone"
                            v-validate="'required'",
                            v-model="model.phone",
                            type="tel"
                           )
                    .section-form-request__v-btn
                        v-btn() Оставить заявку
              
                .is-send(v-else)
                    p.thanks Спасибо!
                    p.title Ваша заявка принята. #[br] Наш специалист скоро #[br] с вами свяжется
                    p Мы в соц. сетях и мессенджерах
                    v-social


</template>

<script>
import VField from '@/components/VField'
import VBtn from '@/components/VBtn'

import requestForm from '@/mixins/requestForm'
import VSocial from "@/components/VSocial";

export default {
    name: 'SectionFormRequest',
    components: {
        VSocial,
        VField, VBtn },
    mixins:[requestForm],
  
}
</script>

<style lang="scss">
.section-form-request {
   
    &__form {
        @include box-info;
    }
    &__fieldset {
        display: flex;
        flex-flow: wrap;
        
        @add-mixin point xs-after {
            align-items:center;
        }
        /*   grid-template:
                "text field btn" auto/33% auto/33% auto/33% ;*/
        min-width: 0;

        @include row-offset-a;

        @add-mixin point xs-only {
            flex-direction: column;
        }
    }
    &__legend {
        grid-area: text;
        @add-mixin h 5;
        @include row-offset-a_col;
        flex: 1 1 92px;
        min-width: 240px;
    }
    &__v-field {
        grid-area: field;
        @include row-offset-a_col;
        flex: 1 0 auto;
    }
    &__v-btn {
        grid-area: btn;
        @include row-offset-a_col;
        flex-shrink: 0;
    }
    
    .is-send {
        text-align:center;
        color:jscolor(dark);
    }
}
</style>
