<template lang="pug">
    section.section-price-table(v-if="content")
        v-container
            h2.section-price-table__title {{title}}
            .section-price-table__table-wrap(v-html="content" ref="tablewrap")
               
                v-bem(tag="table").price-table
                    thead.row
                        tr
                            th.padding.name
                            th.padding.name(v-for="(item,index) in $slots.name", :key="index+'name'"): v-node(:node="item")
                        
                    tbody.row
                        tr
                            td.padding
                            td.padding(v-for="(item,index) in $slots.description", :key="index+'description'"): v-node(:node="item")
                    tbody.row
                        tr.tr.border_bottom(v-for="(tr,index) in $slots.default", :key="index+'tr'")
                            v-node(:node="tdFab(td,index)" v-for="(td,index) in tr.children", :key="index+'td'")
                         
                      
                    tfoot.row
                        tr
                            td.padding
                            td.padding.footer-col(v-for="(item,index) in $slots.name", :key="index+'footer-col'"): v-btn(block)  Заказать
                        

</template>

<script>
import TextHtml from "@/components/TextHtml";
import VBtn from "@/components/VBtn";
import VNode from "@/components/VNode";

export default {
    components: {
        VNode,
        VBtn,
        TextHtml},
    name: "section-price-table",
    data() {
        return {}
    },
    mounted(){
      
        this.$refs?.tablewrap?.querySelectorAll('button').forEach(item=>item.onclick=this.popup)
    },
    computed:{
        title(){
            return this.$store.state.control.pageData.catalog?.data?.catalogTableTitle;


        }, 
        content(){
            return this.$store.state.control.pageData.catalog?.data?.catalogTableContent?.replace(/<br \/>/g,'<br>');


        },    
    },
    methods:{
        popup(){
            this.$root.$emit('popup','formRequest')
        },
        tdFab(item,index) {
        
            let data = {
                staticClass:'padding'
            }
            if(index===0) data.staticClass+=' text'
            else data.staticClass+=' price'
            item.data = data
            return item
        }
    }
}
</script>

<style lang="scss">
    .section-price-table{
        position:relative;
       
        padding:indent(lg) 0;
        
        
        &::before {
            content:'';
            @include abs-stretch;
            background: jsvar(linear-gradient);
            z-index:-3;
        }

        &__title {
            @add-mixin h 1;
            @include hdecor(center);
            text-align:center;
            
            //grid-column:1 / -1;
        }

        .price-table {
          
                color:jscolor(dark);
                text-align: center;
                display:flex;
                flex-flow:column;

          
            &__row {
                display:flex;
                flex-flow:column;
            }
            &__border_bottom {
                border-bottom:1px solid jscolor(border);
            }
            &__tr {
                display:grid;
                grid-template-columns: minmax(200px, 300px) repeat(3, minmax(200px, 260px));
                grid-template-rows: minmax(60px, auto);
                justify-items: center;
                align-items: center;
                justify-content: space-between;
            }

           

            &__name {
                @add-mixin h 2;
                margin-bottom:0;
                color:jscolor(accent);
            }

            &__tr {
                //border-bottom:1px solid jscolor(border);
            }
            
            &__text {
                justify-self: flex-start;
            }
            &__price {
                font-size:jsfs(h5);    
            }
            &__footer-col {
                margin-top:2em;
                justify-self: normal;
            }
            
            &__padding {
                padding-left:jsvar(gap-sm);
                padding-right:jsvar(gap-sm);
            }
            
            @add-mixin point xs-only {
                &__padding {
                    padding-left:5px;
                    padding-right:5px;
                }
                &__price {
                    font-size:jsfs(h6);
                }
            }
            
         
        }
        
        &__table-wrap {
            @add-mixin point sm-only {
                overflow-y: auto;
            }

        }

       
    }
</style>
