<template lang="pug">
    section.section-photo-one
        v-container
            text-html(h1-decor center v-html="content")
                //h2.h1: slot(name="title")
                //p.section-photo-one__img: slot(name="img")

</template>

<script>
import TextHtml from "@/components/TextHtml";

export default {
    components: {TextHtml},
    name: "section-photo-one",
    data() {
        return {}
    },
    computed:{
        content(){
            return this.$store.state.control.pageData.catalog?.data?.catalogTextContent;


        },

    },
}
</script>

<style lang="scss">
    .section-photo-one{
        margin:indent(xlg) 0;
        text-align:center;

        
        
            img{
                @include img;
                box-shadow:none;

            }

        
    }
</style>
