<template lang="pug">
    section.section-certificates
        .section-certificates__inner
            v-container.section-certificates__v-container
                .section-certificates__text
                    text-html.section-certificates__text-html(h1-decor light)
                        h2.h1 Сертификаты
                        p Сертификация ГОСТ. Если мы установим сигнализацию на ваш новый автомобиль, заводская гарантия сохранится.
                        p Мы — официальный установочный центр Pandora и Prosecurity. Это подтверждают наши сертификаты. Раз в полгода наши сотрудники проходят повышение квалификации Pandora и Prosecurity. Они учатся у производителей, поэтому знают все об оборудовании, которое используют в работе.
                    slider-swiper-control(light :class-prefix="componentName")
                .section-certificates__images
                    slider-swiper.section-certificates__slider(v-bind="swiperOptions", @get-swiper="getSwiper")
                        img(:data-src="require('@/assets/img/certif/sert_01.jpg')" alt="Сертификат" class="lazyload" width="400" height="550").section-certificates__img
                        img(:data-src="require('@/assets/img/certif/sert_02.jpg')" alt="Сертификат" class="lazyload" width="400" height="550").section-certificates__img
                        img(:data-src="require('@/assets/img/certif/sert_03.jpg')" alt="Сертификат" class="lazyload" width="400" height="550").section-certificates__img
                        img(:data-src="require('@/assets/img/certif/sert_04.jpg')" alt="Сертификат" class="lazyload" width="400" height="550").section-certificates__img
      
</template>

<script>
import TextHtml from '@/components/TextHtml.vue'
import SliderSwiper from '@/components/SliderSwiper'
import SliderSwiperControl from '@/components/SliderSwiperControl'
export default {
    name: 'SectionCertificates',
    components: {
        SliderSwiperControl,
        SliderSwiper,
        TextHtml
    },
    data() {
        return {}
    },
    methods:{
        getSwiper(swiper){
            setTimeout(()=>{
                swiper.update()
            },500)
        }
    },
    mounted(){
       
    },
    computed: {
        swiperOptions() {
            return {
                options: {
                    effect: 'coverflow',
                    centeredSlides: false,
                    spaceBetween: 0,
                    slidesPerView: 'auto',
                    coverflowEffect: {
                        rotate: 0,
                        stretch: 200,
                        depth: 500,
                        modifier: 1,
                        slideShadows : false
                    },
                },
                prefixClassSwiperControl: this.componentName
            }
        }
    }
}
</script>

<style lang="scss">
.section-certificates {
    position: relative;
    z-index:1;
    &::before {
        @include bgImg;
        @include abs-stretch;
        z-index: -1;
        background-image: url(~@/assets/img/section_sertificates_1.jpg);
        content: '';
        @add-mixin point xs-only {
            bottom: auto;
            height: 80%;
        }
    }

    &__inner {
    }

    @add-mixin point xs-after {
        padding: indent(mlg) 0;
    }

    &__v-container {
        @add-mixin point xs-after {
            display: grid;
            grid-template: 'text img' auto/40% calc(60% - 30px);
            column-gap: jsvar(gap);
        }
    }

    &__text {
        grid-area: text;
    }
    &__text-html {
        padding: indent(md) 0 0;

        @add-mixin point xs-after {
            max-width: 417px;
            min-height: 46vh;
        }
    }
    &__images {
        grid-area: img;
        @add-mixin point xs-only {
            text-align: center;
            padding: jsvar(gap-sm) 0 0;
            margin: jsvar(gap-sm-n) jsvar(gap-sm-n) jsvar(gap);

            .swiper-slide {
                padding: jsvar(gap-sm) jsvar(gap-sm) jsvar(gap);
            }
        }
    }
    &__img {
        @include img;
        width:100%;
        max-width:400px;
    }

    &__slider {
        display: block;
    }

    .swiper-slide {
       

        @add-mixin point xs-after {
            width:auto;
        }
        
    }
}
</style>
