<template lang="pug">

        v-bem(tag="h2").section-catalog-reason-title
            |#[span.numb {{content.catalogUtpNumber}} ] #[span.big {{content.catalogUtpTitle}}] #[span.small {{content.catalogUtpText}}]


</template>

<script>
export default {
    data() {
        return {}
    },
    computed:{
        content(){
            return this.$store.state.control.pageData.catalog?.data || {}
        },
        
    }
}
</script>

<style lang="scss">
.section-catalog-reason-title {
    line-height: 1;
    color: jscolor(dark);

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    font-size: jsfs(main);

    &__numb {
        position: relative;
        text-align: center;
        &::before {
            content: '';

            @include decor-circle;
            @include abs-stretch;

            /*  height: 10vw;
                width: 10vw;
                left: 50%;
                top: 50%;
                margin-top: -5vw;
                margin-left: -5vw;*/
        }
        font-size: 55vw;
        height: 40vw;
        width: 40vw;
        @add-mixin point xs-after {
            font-size: 16vw;
            height: 10vw;
            width: 10vw;
        }
        color: jscolor(light);

     
        line-height: 0.7;
        overflow: hidden;

        margin-bottom: 17px;
    }

    &__big {
        font-size: jspx(66);
        margin-bottom: 7px;
    }
    &__small {
        font-size: jspx(19);
    }
}
</style>
