<template lang="pug">

        .slider-swiper-control.swiper-container-horizontal(:class="classRoot" hidden)
            .slider-swiper-control__arrow.slider-swiper__arrow.slider-swiper__prev(:class="classArrowPrev")
                arrow-left
            .swiper-pagination.swiper-pagination-bullets(:class="classPaginator")
            .slider-swiper-control__arrow.slider-swiper__arrow.slider-swiper__next(:class="classArrowNext")
                arrow-right
</template>

<script>
import ArrowRight from '@/assets/icons/arrow-right.svg'
import ArrowLeft from '@/assets/icons/arrow-left.svg'
export default {
    name: 'SliderSwiperControl',
    components: {
        ArrowRight,
        ArrowLeft
    },
    props: {
        classPrefix: {
            type: String,
            default: ''
        },

        light: {
            type: Boolean,
            default: false
        },

        options: {
            type: Object,
            default: () => ({})
        }
    },
    data() {
        return {}
    },
    computed: {
        classRoot() {
            const list = []
            if (this.light) list.push(`${this.componentName}_light`)
            return list.join(' ')
        },
        classPaginator() {
            return this.classPrefix + '__paginator'
        },
        classArrowPrev() {
            return this.classPrefix + '__arrow-prev'
        },
        classArrowNext() {
            return this.classPrefix + '__arrow-next'
        }
    }
}
</script>

<style lang="scss">
.slider-swiper-control {
    $el: '.slider-swiper-control';

    display: flex;
    align-items: center;

    margin-left: -1em;
    margin-right: -1em;

    @add-mixin point xs-only {
        justify-content: center;
    }

    position: relative;
    z-index: 1;

    .slider-swiper-control__arrow {
        padding: 1em;
        cursor: pointer;
    }

    &.swiper-container-horizontal .swiper-pagination {
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-pagination-bullet-active {
    }
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        transform: scale(1) !important;
    }
    .swiper-pagination {
        position: relative;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
        bottom: 0 !important;
        display: inline-block;

        flex: 0 1;
        white-space: nowrap;
    }
    &.swiper-container-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 0;
        transform: none;
    }

    &.swiper-container-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
        .swiper-pagination-bullet {
        transition: 200ms transform, 200ms left, 200ms -webkit-transform;
    }
    &.swiper-container-horizontal
        > .swiper-pagination-bullets
        .swiper-pagination-bullet {
        margin: 0 4px;
    }

    .slider-swiper__arrow {
        svg {
            @include trans;
            display: block;
            opacity: 0.2;
        }
        &:hover svg {
            opacity: 1;
        }
    }

    .swiper-pagination-bullet {
        background: jscolor(dark);
    }

    &_light {
        .swiper-pagination-bullet-active {
        }
        .swiper-pagination-bullet {
            background: jscolor(light);
        }
        #{$el}__arrow {
            fill: jscolor(light);
        }
    }
}
</style>
