<template lang="pug">
    div(v-swiper:mySwiper="swiperOption").slider-swiper
        ul.swiper-wrapper.slider-swiper__list
            li(class="swiper-slide" v-for="link in $slots.default").slider-swiper__slide
                v-node(:node="link")
        slot(name="control")
        //.slider-swiper__control.swiper-container-horizontal
            .slider-swiper__arrow.slider-swiper__prev
                arrow-left
            .swiper-pagination.swiper-pagination-bullets
            .slider-swiper__arrow.slider-swiper__next
                arrow-right
</template>

<script>
import VNode from '@/components/VNode.vue'
import 'swiper/dist/css/swiper.css'
import ArrowRight from '@/assets/icons/arrow-right.svg'
import ArrowLeft from '@/assets/icons/arrow-left.svg'
export default {
    name: 'SliderSwiper',
    components: {
        ArrowRight,
        ArrowLeft,
        VNode
    },
    props: {
        options: {
            type: Object,
            default: () => ({})
        },
        prefixClassSwiperControl: {
            type: String,
            default: ''
        }
    },
    data() {
        return {}
    },
    mounted(){
        this.$emit('get-swiper',this.mySwiper)
    },
    computed: {
        swiperOption() {
            return {
                /*    loop: true,
    slidesPerView: 'auto',
    centeredSlides: true,
    spaceBetween: 30, */
                slidesPerView: 'auto',
                pagination: {
                    el: '.' + this.prefixClassSwiperControl + '__paginator',
                    dynamicBullets: false
                },
                navigation: {
                    nextEl:
                        '.' + this.prefixClassSwiperControl + '__arrow-next',
                    prevEl: '.' + this.prefixClassSwiperControl + '__arrow-prev'
                },
                /* breakpoints: {
                    [cssVars['point-xs']]: {
                        slidesPerView: 1,
                    }
                },

*/
                ...this.options
            }
        }
    },
    created() {}
}
</script>

<style lang="scss">
.slider-swiper {
    &__slide {
        box-sizing: border-box;
    }

    &__list {
        @include listClear;
    }

    &__control {
        display: flex;
        align-items: center;
        .swiper-pagination-bullet-active {
            background: jscolor(dark);
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            transform: scale(1) !important;
        }
        .swiper-pagination {
            position: relative;
            width: auto;
            margin-right: 20px;
            margin-left: 20px;
            bottom: 0 !important;
            display: inline-block;

            flex: 0 1;
            white-space: nowrap;
        }
        &.swiper-container-horizontal
            > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
            left: 0;
            transform: none;
        }

        &.swiper-container-horizontal
            > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
            .swiper-pagination-bullet {
            transition: 200ms transform, 200ms left, 200ms -webkit-transform;
        }
        &.swiper-container-horizontal
            > .swiper-pagination-bullets
            .swiper-pagination-bullet {
            margin: 0 4px;
        }

        .slider-swiper__arrow {
            svg {
                display: block;
                opacity: 0.2;
            }
        }
    }
}
</style>
