<template lang="pug">
    .text-html(v-if="html" v-html="html" ,:class="classRoot")
    .text-html(v-else :class="classRoot")
        slot
</template>

<script>
export default {
    name: 'TextHtml',
    props: {
        light: {
            type: Boolean,
            default: false
        },
        center: {
            type: Boolean,
            default: false
        },
        h1Decor: {
            type: Boolean,
            default: false
        },
        html: {
            type: String
        }
    },
    data() {
        return {}
    },
    computed: {
        classRoot() {
            const list = []
            if (this.h1Decor) list.push(`${this.componentName}_h1-decor`)
            if (this.light) list.push(`${this.componentName}_light`)
            if (this.center) list.push(`${this.componentName}_center`)

            return list.join(' ')
        }
    }
}
</script>

<style lang="scss">
.text-html {
    $el: '.text-html';

    @for $i from 1 through 6 {
        h#{$i},
        .h#{$i} {
            @add-mixin h #{$i};
        }
    }

    &_light {
        @for $i from 1 through 6 {
            h#{$i},
            .h#{$i} {
                @add-mixin h #{$i}-light;
            }
        }
        color: jscolor(light);
    }

    &_h1-decor {
        h1,
        .h1 {
            @include hdecor;
        }
    }

    &_center {
        text-align: center;
    }
    &_center#{$el}_h1-decor {
        h1,
        .h1 {
            @include hdecor(center);
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    p + p {
        margin-top: 1.5em;
    }

    /*p{margin:0;}
             p:not([class]){
              margin:0 0 calc-em(18);
            }*/
    strong {
        font-weight: inherit;
    }
    strong:not([class]),
    .strong {
        font-weight: 600;
    }
    small {
        font-size: inherit;
    }
    small:not([class]),
    .small {
        font-size: jsfs(small);
    }
}
</style>
