<script>
export default {
    name: 'VBtn',
    functional: true,
    props: {
        block: {
            type: Boolean,
            default: false
        },
        href: {
            type: String,
            default: null
        },
        to: {
            type: [String, Object],
            default: null
        },
        link: {
            type: Boolean,
            default: false
        },
        small: {
            type: Boolean,
            default: false
        },
        div: {
            type: Boolean,
            default: false
        },
        outlined: {
            type: Boolean,
            default: false
        },
        padding: {
            type: String,
            default: null
        }
    },
    data() {
        return {}
    },

    render(h, context) {
        let Tag

        if (context.props.to) {
            Tag = 'my-nuxt-link'
        } else if (context.props.link) Tag = 'a'
        else Tag = 'button'

        if (context.props.div) Tag = 'div'

        const classList = () => {
            const list = ['v-btn', context.data.staticClass]
            if (context.props.link) list.push('v-btn_link')
            if (context.props.small) list.push('v-btn_small')
            if (context.props.block) list.push('v-btn_block')
            if (context.props.outlined) list.push('v-btn_outlined')
            if (context.props.padding) list.push(`v-btn_padding_${context.props.padding}`)

            return list.join(' ')
        }

        const attributes = {
            class: classList(),
            attrs: {
                ...context.data.attrs,
                to: context.props.to,
                href: context.props.href
            },
            on: { ...context.listeners }
        }
        if (attributes.attrs.to) delete attributes.attrs.href

        return <Tag {...attributes}>{context.slots().default}</Tag>
    }
}
</script>

<style lang="scss">
.v-btn {
    $el: '.v-btn';

    $this: &;

    @include trans;

    &,
    & * {
        cursor: pointer;
    }

    &:not(&_link) {
        @add-mixin normalizeBtn;
        border-radius: 50px;
        border: 1px solid transparent;
        background-image: linear-gradient(90deg, #293df2 0%, #5c00f2 100%);
        color: jscolor(light);
        padding: jspx(20) jspx(50);
        display: inline-block;
        vertical-align: top;
        text-align: center;
        line-height: 1.2;
        position: relative;

        &:hover {
            background-image: linear-gradient(-90deg, #293df2 0%, #5c00f2 100%);
        }
    }
    &_small:not(&_link) {
        padding: jspx(11, 14) jspx(15, 14);
    }

    &_padding_sm#{$this} {
        padding: .6em 2em;
    }

    &_small#{$el} {
        font-size: jsfs(small);
    }

    &_block#{$this} {
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
    }

    &_link {
        border-bottom: 1px solid;
        &:hover {
            border-bottom-color: transparent;
        }
    }

    &_outlined#{$this} {
        background: transparent;
        border-color: jscolor(accent);
        color: jscolor(accent);
        &:hover {
            background: jscolor(accent);
            color: jscolor(light);
        }
    }

    //font-size:jsfs(small);

    text-decoration: none;
}
</style>
