<template lang="pug">
    .v-container
        slot
</template>

<script>
export default {
    name: 'VContainer',
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.v-container {
    max-width: jsvar(grid-container);
    //box-sizing:content-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(jsvar(gap) / 2);
    padding-right: calc(jsvar(gap) / 2);
}
</style>
