<template lang="pug">
    header.v-header(:class="{'v-header_menu_open':menuOpen,fixed:fixed}")
        form(name="request" netlify netlify-honeypot="bot-field" hidden)
            input(type="text" name="name")
            input(type="text" name="phone")
            input(type="text" name="message")
            input(type="text" name="email")
        v-container.v-header__container
            template(v-if="!fixed")
                my-nuxt-link(to="/" title="главная")
                    logo.v-header__logo
    
                phone-link.v-header__phone-link
                burger-button.v-header__burger(
                    :active="menuOpen",
                    @click="menuOpen = !menuOpen",
                    bar-color="currentColor"
                    :bar-height="2",
                    :bar-width="12"
                    )
    
            nav-main.v-header__nav-main
            template(v-if="!fixed")
                nav-secondary.v-header__nav-secondary
                v-btn(small  class="v-header__btn", @click="$root.$emit('popup','formRequest')")
                    |Получить консультацию



</template>

<script>
import BurgerButton from 'vue-burger-button'
import Logo from '@/assets/icons/logo.svg'
import NavSecondary from '@/components/NavSecondary'
import NavMain from '@/components/NavMain'
import PhoneLink from '@/components/PhoneLink'
import VBtn from '@/components/VBtn'
import 'vue-burger-button/dist/vue-burger-button.css'
export default {
    components: {
        BurgerButton,
        VBtn,
        PhoneLink,
        NavSecondary,
        NavMain,
        Logo
    },
    props:{
        fixed:{
            default:false,
            type:Boolean,
        },
    },
    watch:{
        $route: {
            handler(to, from) {
               this.menuOpen=false
            },
            immediate: false
        },
    
    },
    data: () => ({ menuOpen: false })
    
}
</script>

<style lang="scss">
.v-header {
    padding-top: 11px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 444;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 4.8em;
        left: 0;
        right: 0;
        margin: 0 calc(jsvar(gap) * -1);
        background-color: jscolor(light);
        z-index: -1;
    }

    @add-mixin point sm-only {
        height: 100vh;
        @include trans;
        background-color: jscolor(info);
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom:indent(sm);
        &:not(&_menu_open) {
            height: jspx(77);
            overflow: hidden;
            border-bottom:1px solid jscolor(border);
        }
    }
    @add-mixin point sm-after {
        &:not(.fixed) {
            height:jspx(141);
        }
        &:before {
            display: none;
        }
        position: sticky;
        background-color: jscolor(light);
    }

    @mixin borderXs {
        content: '';
        display: block;
        height: 1px;
        background-color: jscolor(border);
        width: 100%;
        margin: jspx(15) 0 jspx(10);
    }

    & &__burger {
        margin: 0 jsvar(gap-sm);
        @add-mixin point sm-after {
            display: none;
        }

        color: jscolor(light);
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: jscolor(accent);
            margin: -14px;
            z-index: -1;
            border-radius: 50%;
        }
        .bar {
            position: relative;
            z-index: 1;
        }
    }

    &__logo {
        position: relative;
        z-index: 1;

        @add-mixin point sm-only {
            width: 50px;

            path:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
                display: none;
            }
            /*path:not(.logo-xs) {
                display:block;
            }*/
        }
    }

    &__btn {
        @add-mixin point sm-only {
            
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
            order: 0;
        }
        order: 3;
    }

    &__container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__phone-link {
        margin: 0 30px;
        position: relative;
        z-index: 1;
        @add-mixin point sm-after {
            order: 1;
        }
    }
    &__nav-main {
        margin-top: jsvar(gap);
        padding-top: jspx(5);

        .nav-main__sublist {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: 3px;
            @add-mixin point sm-only {
                background-color: transparent;
                
                .nav-main__sublink {
                    padding-left:0;
                    padding-right:0;
                }
            }
        }

        .nav-main__item {
            &:last-child {
                width: 100%;
            }
            &:last-child:before {
                @include borderXs;
            }
        }

        width: 100%;
        @add-mixin point sm-after {
            border-top: 1px solid jscolor(border);
            border-bottom: 1px solid jscolor(border);

            order: 4;
            margin-top: jspx(4);

            .nav-main__subitem {
                width: auto;
            }

            .nav-main__item {
                &,
                &:last-child {
                    width: auto;
                    border-top: 0;
                }
                &:last-child:before {
                    display: none;
                }
            }
        }
    }
    &__nav-secondary {
        width: 100%;
        margin-bottom: jspx(15);

        @add-mixin point sm-after {
            margin-bottom: 0;
        }

        &:before {
            @include borderXs;
            @add-mixin point sm-after {
                display: none;
            }
        }

        @add-mixin point sm-after {
            width: auto;
            margin-left: auto;
            .nav-secondary__link {
                margin: 0 20px;
            }
        }

        .nav-secondary__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &.fixed {
        position:fixed;
        padding-top:0;
        box-shadow: jsvar(box-shadow);
        .v-header__nav-main {border:0;padding-top:0;}
        .nav-main__sublist {
            height:auto;
            //padding-left:2px;
            //padding-right:2px;
            margin-left:-15px;
            margin-right:-15px;
            //.nav-main__subitem {padding:0 1px}
        }

        @add-mixin point sm-only {
            display:none;
        }
        
       
    }

    @media (max-width:1100px){
    
        .nav-main__sublink,.nav-main__link {
            font-size:17px;
        }
    }
}
</style>
