<template lang="pug">
    vue-select(v-bind="options").vue-select
        template(#search='{attributes, events}')
            input.vs__search(:required='!selected', v-bind='attributes', v-on='events')


</template>

<script>
import VueSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'
import VField from '@/components/VField'
export default {
    components: {
        VField,
        VueSelect
    },
    props: {
        options: {
            type: Object,
            default: () => {}
        }
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.vue-select {
    $border-radius_field: jsvar(border-radius-field);
    $border: jscolor(border);
    $color_error: jscolor(error);
    $color_bg: jscolor(light);
    $color_main: jscolor(dark);
    $color_focus: jscolor(dark);
    $color_disabled-field: jscolor(border);
    $color_placeholder: jscolor(infodark);

    $padding_input: jspx(20) jspx(30);
    $font-size_small: jsfs(small);
    $line-height: 1;
    $box-shadow: none;

    .vs__dropdown-toggle {
        border: 1px solid $border;
        //background-color:$color_bg;
        background-color: $color_bg;
        border-radius: $border-radius_field;
        padding: $padding_input;

        width: 100%;
        position: relative;
        line-height: 1;
        -webkit-appearance: none;
    }

    .vs__search {
        &::placeholder,
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: $color_placeholder;
        }
    }
}
</style>
