<template lang="pug">
    ul.v-social
        li.v-social__item
            a.v-social__link(target="blank" href="https://www.instagram.com/alarm_st/" title="https://www.instagram.com/alarm_st/")
                inst
        li.v-social__item.v-social__item_tg
            a.v-social__link(target="blank" href="https://tlgg.ru/AlarmST" title="https://tlgg.ru/AlarmST")
                t-g
        //li.v-social__item
            a.v-social__link(href="//facebook.com")
                b-l-o-g
        li.v-social__item
            a.v-social__link(target="blank" href="https://vk.com/alarm_studio" title="https://vk.com/alarm_studio")
                v-k
        li.v-social__item
            a.v-social__link(target="blank" href="https://api.whatsapp.com/send/?phone=79254374196&text&app_absent=0" title="https://api.whatsapp.com/send/?phone=79254374196&text&app_absent=0")
                w-p
        //li.v-social__item
            a.v-social__link(href="//ok.com")
                o-k
        //li.v-social__item


            a.v-social__link(href="//facebook.com")
                f-a
</template>

<script>
import Inst from '@/assets/icons/socials/inst_2.svg'
import TG from '@/assets/icons/socials/telegram.svg'
import BLOG from '@/assets/icons/socials/BLOG.svg'
import VK from '@/assets/icons/socials/VK.svg'
import OK from '@/assets/icons/socials/OK.svg'
import FA from '@/assets/icons/socials/FA.svg'
import WP from '@/assets/icons/socials/whatssap.svg'
export default {
    name: 'VSocial',
    components: {
        Inst,
        TG,
        BLOG,
        FA,
        OK,
        VK,
        WP
    },
    data() {
        return {}
    }
}
</script>

<style lang="scss">
.v-social {
    @include listClear;
    display: flex;
    justify-content: center;
    margin: -0.2em;
    &__item {
        padding: 0 0.2em;
        
        &_tg {
            svg {
                //transform:scale(1.7);
            }
            
        }
    }
    &__link {
        display: flex;
        width: jspx(40);
        height: jspx(40);
        border-radius: 50%;
        background-color: jscolor(light);

        align-items: center;
        justify-content: center;

        padding: 0.7em;

        svg {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        &:hover {
            background-color: currentColor;
            svg,
            path {
                fill: jscolor(light);
            }
        }
    }
}
</style>
