<template lang="pug">

        nuxt
</template>

<script>
    export default {

        data() {
            return {}
        },
        created(){

        }
    }
</script>

<style lang="scss">

</style>
