<template lang="pug">
  section().error
    .error__content
      logo  
      icon.error__icon
      text-html(h1-decor center)
        h1.h1 Что-то пошло не так
        p Извините, но данный раздел не найден.#[br] Перейдите на главную страницу или другие разделы.
        my-nuxt-link(to="/") Перейти на главную
</template>

<script>

    import Logo from '@/assets/icons/logo.svg'
import icon from '@/assets/img/404.svg'
import TextHtml from "@/components/TextHtml";

export default {
  components: {
      Logo,
      TextHtml,
      icon,
  },
  props: ['error'],
  layout: 'error', // you can set a custom layout for the error page
}
</script>
<style lang="scss">
.error {
  min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
  &__content {
    margin: 0 auto;
      padding:20px 0;
    text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  &__icon {
      margin-top:80px;
    margin-bottom: 80px;
    width: auto;
    height: auto;
    max-width: 100%;
  }
}
</style>
