<template lang="pug">
    .page
        lazy-hydrate(when-idle)
            v-header(:class="{hide:isHeaderFixed}")
        lazy-hydrate(when-visible)
        transition(name="header-push")
            v-header(fixed v-if="isHeaderFixed")
        //lazy-hydrate(when-visible)
        v-popup
        //nav
            ul
                li: my-nuxt-link(to="/") /
                li: my-nuxt-link(to="/catalog") /catalog
        main.page__main
            nuxt-child
        lazy-hydrate(when-visible)
            v-footer.page__v-footer


</template>


<script>
const VHeader = () => import('@/components/VHeader.vue')
const vFooter = () => import('@/components/VFooter')
//const VPopup = () => import('@/components/VPopup')
import VPopup from '@/components/VPopup'

import {ApiCategories} from '@/api/Api.js'
import lodash_cloneDeep from 'lodash/cloneDeep'
import lodash_isEqual from 'lodash/isEqual'

import LazyHydrate from 'vue-lazy-hydration';

export default {
    
    //layout: 'empty',
    components: {
        LazyHydrate,
        VPopup,
        VHeader,
        vFooter
    },
    
    fetch(context) {
        let $apollo = context.app.apolloProvider.defaultClient

        let obj =  {
            $apollo
        }
        return ApiCategories.list.call(obj,{}).then(data=>{
            if(data) context.store.commit('setCategoryList',lodash_cloneDeep(data.list))
            return
        })


        //
    },
    head() {

        return {
            title:this.$store.state.control.pageMeta.title || '',
            meta: [
               
                { charset: 'utf-8' },
                { name: 'viewport', content: 'width=device-width, initial-scale=1' },
                { hid:'keywords', name: 'keywords', content: this.$store.state.control.pageMeta.keywords || ''},
                { hid: 'description', name: 'description', content: this.$store.state.control.pageMeta.description || '' }
            ],
       
        }
    },
    data:()=>({
        windowScrollTop:0,
    }),
    watch:{
        '$route'(){
            this.windowScrollTop=0
        }
    },
    computed:{
        isHeaderFixed(){
            return this.windowScrollTop >= 200
        }
        
      
    },
    created() {
        
    },
    beforeRouteUpdate(to, from, next) {
      
        if(!lodash_isEqual(to.params,from.params)) {
            this.$store.commit('control/setPageClear')
            this.$store.commit('control/breadCrumbsDeleteLastItem')    
        } 
       
    

        next()
    },
    methods:{
        onScroll(e){
            this.windowScrollTop = window.pageYOffset || 0

        },

    },
    mounted(){
        document.addEventListener('scroll',this.onScroll)
        var isTooSoon = true;
        window.addEventListener("beforeinstallprompt", function(e) {
            console.log(e);
            if (isTooSoon) {
                e.preventDefault(); // Предотвращает быстрое отображение
                // Запросить позже:
                setTimeout(function() {
                    isTooSoon = false;
                    e.prompt(); // Выбрасывает, если вызывается более одного раза или по умолчанию не предотвращено (not prevented)
                }, 10000);
            }

            // Событие было повторно отправлено в ответ на наш запрос
            // ...
        });
    },
    beforeDestroy(){
        document.removeEventListener('scroll',this.onScroll)
    }
}
</script>

<style lang="scss">

    @add-mixin point xs-only {
        :root {
            --indent-lg:4em;
            --indent-xlg:5em;
        }
    }

    @add-mixin point xs-after {
        * {
            scrollbar-color: #b5b7cb #eaf0f7;
            scrollbar-width: thin;

        }

        ::-webkit-scrollbar {
            width: 6px;
        }
    }




html {
    box-sizing: border-box;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    overflow: hidden auto;
}
body {
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
* {
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: none;
    }
}

a {
    @include trans;
    text-decoration: none;
    color: inherit;
    &:hover {
        color: jscolor(accent);
    }
}

@add-mixin themeDefault;

.page {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    min-height: 100vh;

   /* @add-mixin point sm-after {
        overflow: inherit;
    }*/

    @add-mixin point sm-only {
        &:before {
            content: '';
            display: block;
            height: jspx(77);
        }
    }

    &__main {
        flex: 1 0 auto;
    }

    &__v-footer {
    }


    .slide-fade-enter-active {
        transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
    }
    .slide-fade-leave-active {
        //transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active до версии 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }

    .header-push-enter-active,
    .header-push-leave-active {

        transform:translateY(0);
        transition:all .2s;
    }


    .header-push-enter,
    .header-push-leave-to {
        transform:translateY(-150%);

    }
 
}
</style>
