<template lang="pug">
    .page-index
        lazy-hydrate(when-idle)
            section-main.page-index__section-main
        lazy-hydrate(when-visible)
            section-decor-wrap.page-index__section-decor-wrap
                section-advantages.page-index__section-advantages
                section-stocks.page-index__section-stocks
                section-form-request.page-index__section-form-request
                section-services
        lazy-hydrate(when-visible)
            section-certificates.page-index__section-certificates
        lazy-hydrate(when-visible)
            section-decor-wrap(name="index-footer")
                section-reviews.page-index__section-reviews
                v-container
                    section-map
</template>
<script>
const SectionStocks = () => import('@/components/SectionStocks')
const SectionFormRequest = () => import('@/components/SectionFormRequest')
const SectionCertificates = () => import('@/components/SectionCertificates')
const SectionDecorWrap = () => import('@/components/SectionDecorWrap')
const SectionReviews = () => import('@/components/SectionReviews')
const SectionMap = () => import('@/components/SectionMap')
const SectionServices = () => import('@/components/SectionServices')

const SectionMain = () => import('@/components/SectionMain.vue')
const SectionAdvantages = () => import('@/components/SectionAdvantages.vue')



import apiIndexTop from '@/mixins/api/apiIndexTop'
import apiIndexStock from '@/mixins/api/apiIndexStock'
import apiIndexContent from '@/mixins/api/apiIndexContent'
import LazyHydrate from 'vue-lazy-hydration';
export default {
    components: {
        LazyHydrate,
        SectionServices,
        SectionMap,
        SectionReviews,
        SectionDecorWrap,
        SectionCertificates,
        SectionFormRequest,
        SectionStocks,
        SectionMain,
        SectionAdvantages
    },
    mixins:[
        apiIndexStock,
        apiIndexTop,
        apiIndexContent
        
    ],
/*    asyncData(context) {
        let $apollo = context.app.apolloProvider.defaultClient

        let obj =  {
            $apollo
        }
        console.log(context.store.state.stateCategories);
        return ApiTickets.list.call(obj,{
            filter:{
                categories:[
                    context.store.getters.categoriesNameToId('indexTop')
                ]
            }    
        }).then(data=>{
            console.log(data);
         
            //if(data) context.store.commit('control/setPageData',['indexTop',data])
            return
        })


        //
    },*/
    data:()=>({
       
}),
    /*apollo: {

        /!* pageControls:{
             query:QUERY_PAGE_CONTROLS,

         },*!/
        indexTop: {

            query:queryTicketList,
           
            variables(){
                console.log(this.$store.getters.categoriesNameToId('indexTop'));
                return {
                    filter:{
                        categories:[
                            this.$store.getters.categoriesNameToId('indexTop')
                        ]
                    }
                }


            },
            update: ({tickets}) => {
                return {...tickets}
            },
           
            //fetchPolicy: 'cache-first',
            result ({ data, loading, networkStatus }) {
                console.log(data);
                this.$store.commit('control/setPageData',['indexTop',data])
            },
            // Error handling
         
        }
    },*/
}
</script>

<style lang="scss">
.page-index {
    &__section-main {
        position: relative;

        @add-mixin point xs-only {
            z-index: 3;
        }
    }
    &__section-advantages {
    }
    &__section-stocks {
        margin-top: indent(lg);
        margin-bottom: indent(sm);

        @add-mixin point xs-only {
            margin-top: indent(sm);
            margin-bottom: indent(sm);
        }
    }

    &__section-decor-wrap {
        margin-top: indent(xs);
        @add-mixin point xs-after {
            margin-top: indent(md, -1);
        }
    }
}
</style>
